# SECURITY
# ========

# Make sure we can put sites live using symlinks
Options +FollowSymLinks

# Prevent directory browsing without a forbidden message
IndexIgnore *

# Protect hidden files, like .htaccess
<FilesMatch "^\.">
  Deny from all
</FilesMatch>

# CONTENT CONTROL
# ===============

AddDefaultCharset UTF-8

# REDIRECTION
# ===========

<IfModule mod_rewrite.c>
  RewriteEngine On
  # RewriteBase /

  # Force WWW
  # RewriteCond %{HTTP_HOST} !^www\.
  # RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

  # HTTPS Everywhere
  # Comment out this rule to enable HTTPS functionality
  # RewriteCond %{HTTPS} off
  # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # HTTPS Nowhere
  # Comment out this rule to disable HTTPS functionality
  # RewriteCond %{HTTPS} on
  # RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]  
  
  # Rewrite URLs of the form 'x' to the form 'index.php?e4_url=x'.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  # RewriteRule ^_data/ - [NC,F,L]
  # RewriteRule ^_e/ - [NC,F,L]
  RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>

# SITE PERFORMANCE
# Turn pagespeed on/off
# ModPagespeed off

<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
  <IfModule mod_filter.c>
    # these are known to be safe with MSIE 6
    AddOutputFilterByType DEFLATE text/html text/plain text/xml

    # everything else may cause problems with MSIE 6
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/x-javascript application/javascript application/ecmascript
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/xml
  </IfModule>
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  # ExpiresByType image/jpg "access 1 day"
  # ExpiresByType image/jpeg "access 1 day"
  # ExpiresByType image/png "access 1 day"
  # ExpiresByType image/gif "access 1 day"
  # ExpiresByType text/css "access 1 day"
  # ExpiresByType text/html "access 1 day"
  # ExpiresByType application/pdf "access 1 day"
  # ExpiresByType text/x-javascript "access 1 day"
  # ExpiresByType application/x-shockwave-flash "access 1 day"
  # ExpiresByType image/x-icon "access 1 day"
  ExpiresDefault "access 1 week"
</IfModule>